@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   display: none;
}

body {
   margin: 0;
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

@layer base {
   input[type='number']::-webkit-inner-spin-button,
   input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}

.ant-upload,
.ant-upload-select {
   height: 120px !important;
   width: 120px !important;
}

@media (max-width: 768px) {
   .ant-upload,
   .ant-upload-select {
      height: 100px !important;
      width: 100px !important;
   }
}

.ant-card-body {
   padding: 0px !important;
}
